.main-contact-div{
    background-color: rgba(92, 117, 146,0.9);
    margin: 80px;
    padding: 80px;
    color:#223142!important;
}

.colorW{
    color: whitesmoke !important;
}

textarea{
    height: 300px;
}

.send{
    font-size: 1.5em; 
}

@media(max-width:500px){
     .main-contact-div{
         width: 100%!important; 
    } 
    .main-contact-div>h1,.send{
        font-size: 2em ;
        text-align: center;
    }
}