.card{
    width: fit-content !important;
    background-color: #223142!important;
    color:whitesmoke;
    margin: 5px;
    padding: 5px;  
}

.card>img{
    width: 100%;
}

.name-card{
    color:#6ECCAF ;
}

.size-name{
    width: 300px;
}

.botonCard{
    background-color:#6Eccaf ;
    color: #344D67;
}

@media(max-width:500px){
    .card{
        flex-direction: column!important;
    }
    .btn-x-md{
        visibility: hidden;
    }
    .btn-x-sm{
        display: block!important;
    }
}