.bg-blue{
    background-color: #344D67;
}

header{
    padding: 30px;
    position: sticky;
    top:0px; 
    z-index: 1; 
}

.navbar-brand{
    padding: 20px 60px!important;
    color: #6eccaf;
    cursor: default;
}

.navbar-brand{
    color: #6eccaf;

}

.navbar-brand:hover{
    color: #6ECCAF;
    cursor: default;
}

.navbar-toggler{
   border:none;
}

.cursor-p{
    cursor: pointer !important;
} 
